<table id="employees" class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for user in employees %}
        <tr class="employee">
            <td>{{ user.pk }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td><b>{{ user.get_user_type_name }}</b></td>
        </tr>
    {% endfor %}
    </tbody>
</table>