<table id="patients" class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Admitted</th>
        {% if request.session.current_user_is_admin %}
            <th>Hospital</th>{% endif %}
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for patient in patients %}
        <tr class="patient">
            <td>{{ patient.pk }}</td>
            <td>{{ patient.username }}</td>
            <td>{{ patient.first_name }}</td>
            <td>{{ patient.last_name }}</td>
            <td>{% if patient.is_admitted %}Yes{% else %}No{% endif %}</td>
            {% if request.session.current_user_is_admin %}
                <td>{{ patient.hospital }}</td>{% endif %}
            <td>
                <div class="patient-actions">
                    {% if request.session.current_user_is_doctor or request.session.current_user_is_nurse %}
                        <a href="{% url "views.send_message" patient.pk %}">
                            <button type="button" class="btn btn-primary btn-xs">Send Message</button>
                        </a>
                        <a href="{% url "views.view_profile" patient.pk %}">
                            <button type="button" class="btn btn-primary btn-xs">View Info</button>
                        </a>
                        <a href="{% url "views.prescription" patient.pk %}">
                            <button type="button" class="btn btn-primary btn-xs">View Prescriptions</button>
                        </a>
                        <a href="{% url "views.result" patient.pk %}">
                            <button type="button" class="btn btn-primary btn-xs">View Tests</button>
                        </a>
                        {% if not request.session.current_user_is_nurse %}<a href="{% url "views.transfer" patient.pk %}">
                            <button type="button" class="btn btn-primary btn-xs">Transfer</button>{% endif %}
                        </a>
                        <!-- Make nurses not see -->
                        {% if request.session.current_user_is_doctor %}
                        <a href="{% url "views.toggle_admit" patient.pk %}">
                            <button type="button"
                                    class="btn {% if patient.is_admitted %}btn-danger{% else %}btn-success{% endif %} btn-xs">
                                {% if patient.is_admitted %}Discharge{% else %}Admit{% endif %}</button>
                        </a>
                        {% endif %}
                    {% endif %}
                    {% if request.session.current_user_is_admin %}
                        <a href="{% url "views.transfer" patient.pk %}">
                            <button type="button" class="btn btn-primary btn-xs">Transfer</button>
                        </a>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>