<table id="patients" class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Admitted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for patient in patients %}
        <tr class="patient">
            <td>{{ patient.pk }}</td>
            <td>{{ patient.username}}</td>
            <td>{{ patient.first_name }}</td>
            <td>{{ patient.last_name }}</td>
            <td>{% if patient.is_admitted %}Yes{% else %}No{% endif %}</td>
            <td>
                <div class="patient-actions">
                    <button type="button" class="btn btn-primary btn-xs">View/Edit Info</button>
                    <button type="button" class="btn btn-primary btn-xs">Prescriptions</button>
                    <button type="button" class="btn btn-primary btn-xs">Tests</button>
                    <a href="{% url "views.toggle_admit" patient.pk %}"><button type="button" class="btn {% if patient.is_admitted %}btn-danger{% else %}btn-success{% endif %} btn-xs">{% if patient.is_admitted %}Discharge{% else %}Admit{% endif %}</button></a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>