html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 70px;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

#log .log-entry-info {

}

#log .log-entry-warning {
    background: yellow;
}

#log .log-entry-error {
    background: red;
    color: white;
}

table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc, table.dataTable thead .sorting {
    background-image: none !important;
}

.calendar_day {
    margin-top: 10px;
}

.calendar_day .appointment {
    padding: 10px 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-bottom: none;
}

.calendar_day .appointment .name {
    color: black;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

.calendar_day .appointment:nth-child(even) {
    background: white !important;
}

.calendar_day .appointment:last-of-type {
    border-bottom: 1px solid #ddd;
}

.calendar_day .edit_controls {
    margin-top: 10px;
}

#calendar {
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important;
    border: none !important;
}

.pending-user-actions, .patient-actions {
    float: right;
}

.message-icon {
    line-height: .1;
}

.new-message {
    color: #777;
    color: red;
}

.new-message-num {
    display: none;
}

.new-message > .new-message-num {
    display: inline-block;
    background: black;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 1.45;
    font-size: 12px;
    text-indent: 4px;
    margin-left: -5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.message.unread {
    #background: red;
}

.message {
    margin: 10px 10px 20px 0px;
    padding: 7px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}

.message-links a {
    color: #888;
    font-weight: bold;
    padding: 0px 1px;
    font-size: 12px;
    margin-right: 5px;
}

.message-content {
    padding-left: 10px;
}

.message-from {
    color: green;
}

.message.unread {
    background: #f2dede;
    border: 1px solid #ebccd1;
}

.message.unread .message-content,
.message.unread .message-links a,
.message.unread .message-from {
    color: #a94442;
}

.send-message-action {
    display: block;
    width: 22px;
    height: 22px;
    font-size: 20px;
    margin-bottom: -5px;
    float: right;
}

.user {
    color: #337ab7;
}

.message-type.normal {
    display: none;
}

.message-type.emergency {
    background-color: #d9534f;
}

.message-type.reminder {
    background-color: #5bc0de;
}

.message-type.call-to-action {
    background-color: #5cb85c;
}

h1 {
    margin-bottom: 15px;
}

.table-controls {
    margin-bottom: 10px;
    display: block;
    overflow: auto;
}

.header-controls {
    margin-top: 20px;
}