{% extends 'main_template.html' %}

{% load staticfiles %}

{% block title %} Dashboard {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/fullcalendar.css" %}"/>
{% endblock css %}

{% block content %}
    {% if request.session.current_user_is_admin %}
        <h1>Accounts Pending Approval</h1>
        {% if pending_users %}
            {% include "fragments/approval_pending.html" with pending_users=pending_users %}
        {% else %}
            <p>There are no accounts pending approval.</p>
        {% endif %}
    {% endif %}

    {% if not request.session.current_user_is_admin %}
        <h1>Today's Appointments</h1>
        {% if appointments %}
            {% include "fragments/calendar_day.html" %}
        {% else %}
            <p>You have no additional appointments today.</p>
        {% endif %}
    {% endif %}

    {% if request.session.current_user_is_doctor or request.session.current_user_is_nurse or request.session.current_user_is_admin %}
        {% if request.session.current_user_is_admin %}<h1>All Patients</h1>{% else %}<h1>My Patients</h1>{% endif %}
        {% if patients %}
            {% include "fragments/patients.html" with patients=patients %}
        {% else %}
            <p>You have no patients.</p>
        {% endif %}
    {% endif %}

    {% if not request.session.current_user_is_admin %}
        <h1>Calendar</h1>
        <p>Click on any appointment to edit it.</p>
        <div id="calendar"></div>
    {% endif %}
{% endblock content %}

{% block scripts %}
    <script src="http://fullcalendar.io/js/fullcalendar-2.6.1/fullcalendar.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var events = {{ appointments_json | safe }};

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ' month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                events: events,
                eventLimit: true
            });

            $('.fc-button-group').removeClass().addClass('btn-group');
            $('.fc-button').removeClass().addClass('btn');
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#patients').DataTable({
                "order": [[3, "asc"]],
                "iDisplayLength": 10,
                "aoColumnDefs": [
                    {
                        'bSortable': false, 'bSearchable': false, 'aTargets': [
                        {% if request.session.current_user_is_admin %}6{% else %}5{% endif %}
                    ]
                    },
                    {'bSearchable': false, 'aTargets': [4]}
                ]
            });

            {% if request.session.current_user_is_admin %}
                $('#pending-users').DataTable({
                    "order": [[3, "asc"]],
                    "iDisplayLength": 10,
                    "aoColumnDefs": [
                        {'bSortable': false, 'bSearchable': false, 'aTargets': [5]}
                    ]
                });
            {% endif %}
        });
    </script>
{% endblock scripts %}