{% extends 'main_template.html' %}

{% load staticfiles %}

{% block title %} Dashboard {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/fullcalendar.css" %}"/>
{% endblock css %}

{% block content %}
    <h1>Today's Appointments</h1>
    {%  if appointments %}
        {% include "fragments/calendar_day.html" %}
    {% else %}
        <p>You have no additional appointments today.</p>
    {% endif %}

    {% if request.session.current_user_is_doctor or request.session.current_user_is_nurse %}
        <h1>My Patients</h1>
        {%  if patients %}
            {% include "fragments/patients.html" with patients=patients %}
        {% else %}
            <p>You have no patients.</p>
        {% endif %}
    {% endif %}

    <h1>Calendar</h1>
    <p>Click on any appointment to edit it.</p>
    <div id="calendar"></div>
{% endblock content %}

{% block scripts %}
    <script src="http://fullcalendar.io/js/fullcalendar-2.6.1/fullcalendar.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var events = {{ appointments_json | safe }};

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ' month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                events: events,
                eventLimit: true
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#patients').DataTable({
                "order": [[3, "asc"]],
                "iDisplayLength": 10,
                "aoColumnDefs": [
                  { 'bSortable': false, 'aTargets': [5] }
               ]
            });
        });
    </script>
{% endblock scripts %}