{% extends 'main_template.html' %}

{% load staticfiles %}

{% block title %} Dashboard {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/fullcalendar.css" %}"/>
{% endblock css %}

{% block content %}
        <ul id="sortable" class="list-unstyled">
        {% if request.session.current_user_is_admin %}
            <li class="dashboard-item">
                <div class="dashboard-header clearfix">
                    <h1 class="pull-left">Accounts Pending Approval</h1>
                    <button class="btn pull-right header-controls collapse-toggle" data-toggle="collapse" data-target="#accounts-section"><span class="glyphicon glyphicon-minus"></span></button>
                </div>

                <div id="accounts-section" class="collapse in">
                    {% if pending_users %}
                        {% include "fragments/approval_pending.html" with pending_users=pending_users %}
                    {% else %}
                        <p>There are no accounts pending approval.</p>
                    {% endif %}
                </div>
            </li>

            <li class="dashboard-item">
                <div class="dashboard-header clearfix">
                    <h1 class="pull-left">Hospital Employees</h1>
                    <button class="btn pull-right header-controls collapse-toggle" data-toggle="collapse" data-target="#accounts-section"><span class="glyphicon glyphicon-minus"></span></button>
                </div>

                <div id="accounts-section" class="collapse in">
                    {% if employees %}
                        {% include "fragments/employees.html" with employees=employees %}
                    {% else %}
                        <p>There are no employees at your hospital.</p>
                    {% endif %}
                </div>
            </li>
        {% endif %}

        {% if not request.session.current_user_is_admin %}
            <li class="dashboard-item" data-dashboard-id="1">
                <div class="dashboard-header clearfix">
                    <h1 class="pull-left">Today's Appointments</h1>
                    <button class="btn pull-right header-controls collapse-toggle" data-toggle="collapse" data-target="#appointments-section"><span class="glyphicon glyphicon-minus"></span></button>
                </div>

                <div id="appointments-section" class="collapse in">
                    {% if appointments %}
                        {% include "fragments/calendar_day.html" %}
                    {% else %}
                        <p>You have no additional appointments today.</p>
                    {% endif %}
                </div>
            </li>
        {% endif %}

        {% if request.session.current_user_is_doctor or request.session.current_user_is_nurse or request.session.current_user_is_admin %}
            <li class="dashboard-item" data-dashboard-id="2">
                <div class="dashboard-header clearfix">
                    {% if request.session.current_user_is_admin %}<h1 class="pull-left">Hospital Patients</h1>{% else %}<h1 class="pull-left">My Patients</h1>{% endif %}
                    <button class="btn pull-right header-controls collapse-toggle" data-toggle="collapse" data-target="#patients-section"><span class="glyphicon glyphicon-minus"></span></button>
                </div>

                <div id="patients-section" class="collapse in">
                    {% if patients %}
                        {% include "fragments/patients.html" with patients=patients %}
                    {% else %}
                        <p>You have no patients.</p>
                    {% endif %}
                </div>
            </li>
        {% endif %}

        {% if not request.session.current_user_is_admin %}
            <li class="dashboard-item" data-dashboard-id="3">
                <div class="dashboard-header clearfix">
                    <h1 class="pull-left">Calendar</h1>
                    <button class="btn pull-right header-controls collapse-toggle" data-toggle="collapse" data-target="#calendar-section"><span class="glyphicon glyphicon-minus"></span></button>
                </div>

                <div id="calendar-section" class="collapse in">
                    <p>Click on any appointment to edit it.</p>
                    <div id="calendar"></div>
                </div>
            </li>
        {% endif %}
    </ul>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="http://fullcalendar.io/js/fullcalendar-2.6.1/fullcalendar.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ' month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                events: {{ appointments_json | safe }},
                eventLimit: true
            });

            $('.fc-button-group').removeClass().addClass('btn-group');
            $('.fc-button').removeClass().addClass('btn');

            $('#patients').DataTable({
                "order": [[3, "asc"]],
                "iDisplayLength": 10,
                "aoColumnDefs": [
                    {
                        'bSortable': false, 'bSearchable': false, 'aTargets': [
                        {% if request.session.current_user_is_admin %}6{% else %}5{% endif %}
                    ]
                    },
                    {'bSearchable': false, 'aTargets': [4]}
                ]
            });

            {% if request.session.current_user_is_admin %}
                $('#pending-users').DataTable({
                    "order": [[3, "asc"]],
                    "iDisplayLength": 10,
                    "aoColumnDefs": [
                        {'bSortable': false, 'bSearchable': false, 'aTargets': [5]}
                    ]
                });
            {% endif %}

            $("#sortable").sortable({
                handle: ".dashboard-header"
            });
        });
    </script>
{% endblock scripts %}