{% extends "main_template.html" %}

{% block title %} Edit Info {% endblock title %}

{% block content %}

    {% load bootstrap3 %}

    {% if show_name %}<h1>{{ nurse_user.get_full_name }} Info</h1>{% endif %}

    <div style="float: left; width: 50%; padding-right: 50px;">
    <h3>Basic Info</h3>
    <ul class="list-unstyled">
        <li><b>Full Name:</b> {{ nurse_user.get_full_name }}</li>
        <li><b>Username:</b> {{ nurse_user.username }}</li>
    </ul>
    <ul class="list-unstyled">
        <li><b>Hospital:</b> {% if hospital %}{{ hospital }}{% else %}None{% endif %}</li>

    </ul>
    </div>

    <div style="float: right; width: 50%; padding-right: 50px;">

    <h3>Update Info</h3>

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form edit_info %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "save-file" %} Update
            </button>
        {% endbuttons %}
    </form>
    </div>

{% endblock content %}