{% extends "main_template.html" %}

{% load staticfiles %}

{% block title %} Edit Appointment {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
{% endblock css %}


{% block content %}
    {% load bootstrap3 %}
    <form method="post" action="fragments">
        {% csrf_token %}
        {% bootstrap_form appointment_form %}

        {% buttons %}
            {% if not apt.is_in_past %}
                <a href="{% url "views.cancel_appointment" apt.pk %}">
                    <button type="button" class="btn btn-danger">Cancel This Appointment</button>
                </a>
            {% endif %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "save-file" %} Edit Appointment
            </button>
        {% endbuttons %}
    </form>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('#id_tstart').datetimepicker();
            $('#id_tend').datetimepicker();
        });
    </script>
{% endblock %}