{% extends "main_template.html" %}

{% block title %} Edit Info {% endblock title %}

{% block content %}

{% load bootstrap3 %}
{% if show_name %}<h1>{{ patient_user.first_name }} {{ patient_user.last_name }}</h1></br>{% endif %}
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form edit_info %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "save-file" %} Edit User
        </button>
    {% endbuttons %}
</form>

{% endblock content %}