{% extends "main_template.html" %}

{% block title %} Activity Log {% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <table id="log" class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Timestamp</th>
            <th>Level</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in log_entries %}
            <tr class="log-entry-{{ entry.get_level_str | lower }}">
                <td>{{ entry.pk }}</td>
                <td>{{ entry.datetime | date:"Y-m-d H:m" }}</td>
                <td>{{ entry.get_level_str }}</td>
                <td>{{ entry.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#log').DataTable({
                "order": [[0, "desc"]],
                "iDisplayLength": 25
            });
        });
    </script>
{% endblock scripts %}