<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>HealthNet - {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/t/bs-3.3.6/jq-2.2.0,dt-1.10.11/datatables.min.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>

    {% block css %}
    {% endblock css %}

    {% block headscripts %}
    {% endblock headscripts %}
</head>

<body>
{% include "fragments/navigation.html" %}

<div class="container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock content %}
</div>

<script type="text/javascript" src="https://cdn.datatables.net/t/bs-3.3.6/jq-2.2.0,dt-1.10.11/datatables.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
<script src="{% static "js/jquery.datetimepicker.full.min.js" %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

{% block scripts %}
{% endblock scripts %}

{% include "fragments/footer.html" %}
</body>
</html>
