{% extends "main_template.html" %}

{% load staticfiles %}

{% block title %} Prescriptions {% endblock title %}

{% block css %}
{% endblock css %}


{% block content %}
    <h1>Prescriptions</h1>
    <h4>Patient Name: {{ patient.first_name }} {{ patient.last_name }}</h4>
    <div class="table-controls">{% if request.session.current_user_is_doctor %}
        <a href="{% url "views.create_prescription" pk %}">
            <button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> New
                Prescription
            </button>
        </a> {% endif %}</div>


    <table id="prescriptions" class="table" width="100%">
        <thead>
        <tr>
            <th>Refills</th>
            <th>Name</th>
            <th>Expiration Date</th>
            <th>Description</th>
            <th>Address</th>
            {% if request.session.current_user_is_doctor %}
                <th>Remove</th>{% endif %}
        </tr>
        </thead>
        <tbody>

        {% for p in prescriptions %}
            <tr class="prescription">
                <td align="center">{{ p.refills }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.expiration_date }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.get_address_str }}</td>
                {% if request.session.current_user_is_doctor %}
                    <td align="center">
                        <a href="{% url 'views.remove_prescription' p.pk %}"><span
                                class="glyphicon glyphicon-trash"></span></a></li>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#prescriptions').DataTable({
                "aoColumns": [{"sWidth": '3em'}, null, null, null,
                    null {% if request.session.current_user_is_doctor %}, {
                        "bSortable": false,
                        "sWidth": '3em'
                    }{% endif %}
                ],
                "order": [[1, "desc"]],
                "iDisplayLength": 25
            });
        });
    </script>
{% endblock scripts %}